<form [formGroup]="loginForms">
    <div class="row">
        <div class="input-field col s12">
            <i class="material-icons prefix">account_circle</i>
            <input type="text" formControlName="email"  name="email" placeholder="Email" required >
        </div>
    </div>

    <div class="row">
        <div class="input-field col s12">
            <i class="material-icons prefix">lock_open</i>
            <input type="password" formControlName="password"  name="password" placeholder="Password"required >
            
        </div>
    </div>

    <div class="input-field col s12">
        <button   class="btn-large btn-submit" type="submit" (click)="Login()" >Login</button>
       </div>
</form>