
            <form  class="col s12 white" #userRegistrationForm="ngForm" (ngSubmit)="OnSubmit(userRegistrationForm)">
                <div class="row">
                    <div class="input-field col s6">
                        <input type="text" name="username" #username="ngModel" [(ngModel)]="user.username" required>
                        <label>Username</label>
                        <div class="alert alert-danger" style="color: red;" *ngIf="username.touched && !username.valid">
                            *UserName is required
                        </div>
                    </div>
                    <div class="input-field col s6">
                        <input type="password" name="password" #password="ngModel" [(ngModel)]="user.password" required minlength="8">
                        <label>Password</label>
                        <div class="alert alert-danger" style="color: red;" *ngIf="password.touched && !password.valid">
                            <div *ngIf="password.errors.required">*Password is required</div>
                            <div *ngIf="password.errors.minlength" >*Password should be a Minimum of 8 characters</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input type="email" name="email" #email="ngModel" [(ngModel)]="user.email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$">
                        <label>Email</label>
                        <div class="alert alert-danger" style="color: red;" *ngIf="email.touched && !email.valid">
                          <div *ngIf="email.errors.required">*Email is required</div>  
                          <div *ngIf="email.errors.pattern">Email pattern should be of @gmail.com</div> 
                        </div>
                    </div>
                    <div class="input-field col s12">
                     <button [disabled]="!userRegistrationForm.valid" class="btn-large btn-submit" type="submit" >Registor</button>
                    </div>
                </div>
            </form>

